/* Minimal normalize / reset */
html, body, div, span, h1, h2, h3, p, a, img, ul, li, footer, header, main, section, nav {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1.4;
}
ul {
  list-style: none;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}
