:root {
    --primary-color: #008080;
    --secondary-color: #FF7F50;
    --accent-color: #2F4F4F;
    --bg-color: #F5F5F5;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
    background-color: var(--bg-color);
}

header {
    text-align: center;
    background-color: var(--primary-color);
    color: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}

h1,
h2,
h3,
h4 {
    font-family: 'Montserrat', sans-serif;
    color: var(--accent-color);
}

header h1,
header h2 {
    color: white;
}

table.colors {
    width: 100%;
    margin-bottom: 20px;
}

th,
td {
    padding: 20px;
    text-align: center;
    border: 1px solid #ccc;
}

.wireframe {
    border: 2px dashed #ccc;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    background-color: white;
}